<html>

<body>

<!-- INSERT YOUR CODE HERE -->

<h1> Edit Menu Item </h1>

<form action="{{url_for('editMenuItem', restaurant_id = restaurant_id,menu_id = MenuID)}}" method = 'POST'>
<div>
	<label>
	Name:
	<input type='text' size='30' name='name' placeholder='{{item.name}}'>
	</label>
</div>
<div>
	<label>
	description:

	<input type='text' size='30' name='description' placeholder='{{item.description}}'>
	</label>
</div>
<div>
	<label>
	price:
	<input type='text' size='30' name='price' placeholder='${{item.price}}'>
	</label>
</div>
<div>
<label>
	course:
	  {% if item.course == 'Appetizer'%}
	  	<br><input type="radio" name="course" value="Appetizer" checked> Appetizer<br>
	  {% else %}
	  	<br><input type="radio" name="course" value="Appetizer"> Appetizer<br>
	  {% endif %}
	  {% if item.course == 'Entree'%}
	    <input type="radio" name="course" value="Entree" checked> Entree <br>
	  {% else %}
	    <input type="radio" name="course" value="Entree"> Entree<br>
	  {% endif %}
	  {% if item.course == 'Dessert'%}
	    <input type="radio" name="course" value="Dessert" checked> Dessert<br>
	  {% else %}
	    <input type="radio" name="course" value="Dessert"> Dessert<br>
	  {% endif %}
	  {% if item.course == 'Beverage'%}
	    <input type="radio" name="course" value="Beverage" checked> Beverage<br>
	  {% else %}
	    <input type="radio" name="course" value="Beverage"> Beverage<br>  
	  {% endif %}  
	</label>
</div>
<input type='submit' value='Edit'>
<a href='{{url_for('showMenu',restaurant_id = restaurant_id)}}'>Cancel</a>
</form>

</body>

</html>