<html>
<body>
<h1> New Menu Item </h1>

<form action="{{url_for('newMenuItem', restaurant_id=restaurant_id )}}" method = 'POST'>
<label>
<p>Name:</p>

<input type='text' size='30' name='name'>
</label>
<label>
<p>description:</p>

<input type='text' size='30' name='description'>
</label>
<label>
<p>price:</p>

<input type='text' size='30' name='price'>
</label>
<label>
<p>course:</p>
  <input type="radio" name="course" value="Appetizer"> Appetizer<br>
  <input type="radio" name="course" value="Entree"> Entree<br>
  <input type="radio" name="course" value="Dessert"> Dessert<br>
  <input type="radio" name="course" value="Beverage"> Beverage<br>
</label>

<input type='submit' value='Create'>

</form>

</body>
</html>