<html>
<head>

</head>
<body>
<h1>All Resturants</h1>
<a href='{{url_for('newRestaurant')}}'>Add New Resturant</a>
{% if restaurants %}
	<h2>Restaurants list</h2>
	<ul>
	{% for restaurant in restaurants %}
	<li>
		<a href="{{url_for('showMenu',restaurant_id=restaurant.id)}}">{{restaurant.name}}</a>
		<a href="{{url_for('editRestaurant',restaurant_id=restaurant.id)}}">Edit</a>
		<a href="{{url_for('deleteRestaurant',restaurant_id=restaurant.id)}}">Delete</a>
	</li>
	{% endfor %}
{% else %}
<h2>No restaurants added so far</h2>
{% endif %}

</body>
</html>